﻿<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>{% block title %}YM{% endblock %}</title>
    {% block head %}{% endblock %}
    <link href="{% static 'Items/css/bootstrap.min.css' %}" rel="stylesheet"/>
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link href="{% static 'Items/css/header.css' %}" rel="stylesheet"/>
    <script src="{% static 'Items/js/jquery-2.1.3.min.js' %}"></script>
    <script src="{% static 'Items/js/modernizr.custom.js' %}"></script>

</head>
<body>
    <div class="container">
        <header id="site-header">
            <div class="row">
                <div class="col-md-4 col-sm-5 col-xs-8">
                    <div class="logo">
                        <h1><a href="{% url 'Items:index' %}"><b>Y</b> &amp; M</a></h1>
                    </div>
                </div><!-- col-md-4 -->
                <div class="col-md-8 col-sm-7 col-xs-4">
                    <nav class="main-nav" role="navigation">
                        <div class="navbar-header">
                            <button type="button" id="trigger-overlay" class="navbar-toggle">
                                <span class="ion-navicon"></span>
                            </button>
                        </div>
    
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-right">
                                <li class="cl-effect-11"><a href="{% url 'Items:index' %}">全部电影</a></li>
                                <li class="cl-effect-11"><a href="{% url 'Items:recommend' %}">为我推荐</a></li>
                                <li class="cl-effect-11"><a href="{% url 'Items:mylist'%}">我的观影单</a></li>
                                <li class="cl-effect-11"><a href="{% url 'login:logout'%}">退出</a></li>
                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </nav>
                    <div id="header-search-box">
                        <a id="search-menu" href="#"><span id="search-icon" class="ion-ios-search-strong"></span></a>
                        <div id="search-form" class="search-form">
                            <form role="search" method="get" id="searchform" action="{% url 'Items:index'%}">
                                <input name='q' type="search" placeholder="搜索" required>
                                <button type="submit"><span class="ion-ios-search-strong"></span></button>
                            </form>
                        </div>
                    </div>
                </div><!-- col-md-8 -->
            </div>
        </header>
    </div>
{% block body %} {% endblock %}
<script src="{% static 'Items/js/script.js' %}"></script>
</body>
</html>