{% extends 'Items/base.html' %}
{% load static %}
{% block head %}
<meta name='referrer' content='no-referrer'>
<link href="{% static 'Items/css/index.css' %}" rel="stylesheet"/>
{% endblock %}
{% block body %}
<div class='box'>
    <div class="contents">
        <div class="items">
            {% if message %}
            <div class="alert-warning" ><font size="6">{{ message }}</font></div>
            <h1 align="center">添加失败,<a href="{% url 'Items:index' %}" style="text-decoration:underline;">查看所有电影</a></h1>
            {% else %}
            <h1 align="center">已加入我的观影清单,<a href="{% url 'Items:index' %}" style="text-decoration:underline;">查看所有电影</a></h1>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}